<div>
        <a ui-sref="login">Home
        </a>
        <form name="searchForm">
          <md-autocomplete flex required
          md-input-name="autocompleteField"
          md-no-cache="user.noCache"
          md-selected-item="user.selectedItem.name"
          md-search-text="user.searchText"
          md-items="item in user.delayedQuerySearch(user.searchText)"
          md-item-text="item.name"
          md-require-match
          md-floating-label="Manager">
        <md-item-template>
          <span md-highlight-text="user.searchText">{{item.name}}</span>
        </md-item-template>
        <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
          <div ng-message="required">You <b>must</b> have a user.</div>
          <div ng-message="md-require-match">Please select an user.</div>
        </div>
      </md-autocomplete>
  
        <md-content>
          <md-contact-chips
          ng-model="user.asyncContacts"
          md-contacts="user.delayedQuerySearch($query)"
          md-contact-name="name"
          md-contact-email="email"
          md-require-match="true"
          md-highlight-flags="i"
          md-min-length = 3
          secondary-placeholder="Members"
          filter-selected="user.filterSelected"
          placeholder="Members">
      </md-contact-chips>
    </md-content>
        </form>
  
  {{user.asyncContacts}}

  <!-- <div layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div> -->
           

</div>