<div>
        <a ui-sref="login">Home
        </a>

        <!-- <md-list class="fixedRows">
          <md-subheader class="md-no-sticky">Contacts</md-subheader>
          <md-list-item class="md-2-line contact-item" ng-repeat="(index, contact) in user.allContacts"
              ng-if="user.contacts.indexOf(contact) < 0">

            <div class="md-list-item-text compact">
              <h3>{{contact.name}}</h3>
              <p>{{contact.email}}</p>
            </div>
          </md-list-item>
          <md-list-item class="md-2-line contact-item selected" ng-repeat="(index, contact) in user.contacts">
            <div class="md-list-item-text compact">
              <h3>{{contact.name}}</h3>
              <p>{{contact.email}}</p>
            </div>
          </md-list-item>
        </md-list> -->


      <md-content>
        <md-contact-chips
        ng-model="user.asyncContacts"
        md-contacts="user.delayedQuerySearch($query)"
        md-contact-name="name"
        md-contact-email="email"
        md-require-match="true"
        md-highlight-flags="i"
        md-min-length = 3
        secondary-placeholder="Members"
        filter-selected="user.filterSelected"
        placeholder="Members">
    </md-contact-chips>
  </md-content>
  {{user.asyncContacts}}

      
           

</div>