<div>
        <a ui-sref="login">Home
        </a>
        {{user.app}}
        {{user.userdata}}
        <md-toolbar class="md-table-toolbar md-default">
                <div class="md-toolbar-tools">
                  <span>Nutrition</span>
                </div>
              </md-toolbar>
    <md-table-container>
            <table md-table ng-model="user.selected" md-progress="promise">
              <thead md-head md-order="user.query.order"
               >
                <tr md-row>
                  <th md-column md-order-by="nameToLower">Name</th>
                  <th md-column md-order-by="company">Company</th>
                </tr>
              </thead>
              <tbody md-body>
                <tr md-row md-select="user" md-select-id="name" md-auto-select 
                ng-repeat="user in user.users">
                  <td md-cell>{{user.name}}</td>
                  <td md-cell>{{user.company}}</td>
                </tr>
              </tbody>
            </table>
          </md-table-container>
           
          <md-table-pagination md-limit="2" 
          md-limit-options="[5, 10, 15]" md-page="user.query.page" 
          md-total="{{user.users.length}}" 
          md-page-select></md-table-pagination>

           

</div>